
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
:root{
    --blue: #4758d6;
    --black: #201c1c;
    --light-red:#ea3a3a;
    --silver-white:#eeeded;
    --orange:#e1811f;
}
.container{
    display: flex;
}
/* css for left side box */
.left{
    width: 18%;
    height: 100vh;
    background-color: var(--silver-white);
}
.lists{
    padding: 20px;
}
.lists h4{
    margin: 10px 0px 40px 0px;
}
.lists h4 span{
    color: var(--light-red);
}
.lists a{
    display: flex;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-weight: 500;
    padding: 8px;
}
.lists a i{
    margin-right: 10px;
}

.list2{
    background-color: #787777;
}
.stauts{
    display: inline-flex;
}
.toogle{
  position: relative;
  top: 10px;
 left: 30px;
}


/* Right side css */
.right{
    width: 82%;  
}
.right button{
    margin: 30px;
    margin-left: 75%;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    outline: none;
    background-color: var(--light-red);
    color: white;
    font-weight: 600;
}
.notify-day{
    margin-bottom: 10px;
    font-weight: 800;
    margin-left: 8px;
 }
 .notify1{
    display: flex;
    align-items: center;
    margin: 8px 40px 20px 8px;
    background-color: var(--silver-white);
    padding: 12.5px ;
 }
.notify1 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
#bar {
    display: none;
}

#close {
    display: none;
}


@media screen and (max-width: 1032px) {
    .lists a{
        font-size: 80%;
    }
}
@media screen and (max-width:878px) {
    #bar {
        display: block;
        margin: 10px 0px 0px 10px;
        cursor: pointer;
    }

    #close {
        display: none;
        margin: 10px 0px 0px 10px;
        cursor: pointer;
    }

    .left {
        width: 40%;
        background: transparent;
    }

    .lists {
        display: none;
    }

    .lists a {
        font-size: 80%;
    }
  
    .right {
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .right button{
      margin-left:55% ;
    }
  .notify1, .right p{
    margin-left: 20px;
  }
}

@media screen and (max-width: 408px){
    .lists{
        width: 10rem;
    }
    .lists a{
        font-size: 80%;
    }
}

