
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-box{
   border: 1px solid black;
padding: 25px 50px 35px;
border-radius: 25px;
box-shadow: 0 5px 10px rgba(0,0,0,0.05);
visibility: hidden;
position: relative;
}
.open-rating-Box{
    visibility:visible;
}
.rating-box header{
    color: #3d3b3b;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.rating-box .stars{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.stars i{
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.stars .active{
    color: #ff9c1a;
}

#close{
position: absolute;
right: 5px;
top: 5px;
border-radius: 50%;
width: 30px;
height: 30px;
font-size: 20px;
outline: none;
border: none;
background-color: white;
color: #e6e6e6;
 }

    
#close:hover{
background-color: #ff9c1a;
}

#review{
    margin-top: 30px;
    border-radius: 10px;
    resize: none;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    color: rgb(63, 63, 63);

}

#post{
   margin-top: 25px;
   padding: 8px 40px;
   border-radius: 5px;
   margin-left: 31%;
   font-size: 25px;
   border: 1px solid black;
   background-color: white;
}
#post:hover{
    background-color: #ff9c1a ;
}